<?xml version="1.0"?>
<launch>

    <node pkg="nodelet" type="nodelet" name="zbar_manager"  args="manager"/>

    <!-- Example camera launch -->
    <include file="$(find usb_cam)/launch/usb_cam-test.launch" >
    </include>
    <!--<node pkg="nodelet" type="nodelet" name="barcode_reader" args="load zbar_ros/barcode_reader_nodelet zbar_manager">-->
        <!--<param name="throttle_repeated_barcodes" type="double" value="2.0"/>-->
    <!--</node>-->

    <node pkg="zbar_ros" type="barcode_reader_node" name="barcode_reader">
        <param name="throttle_repeated_barcodes" type="double" value="2.0"/>
        <param name="topic_name" type="string" value="/iris/usb_cam/image_raw"/>
    </node>

</launch>
