<?xml version="1.0"?>
<launch>

    <node pkg="nodelet" type="nodelet" name="zbar_manager"  args="manager"/>

    <node pkg="zbar_ros" type="barcode_reader_node" name="barcode_reader" output="screen">
        <param name="throttle_repeated_barcodes" type="double" value="2.0"/>
        <param name="topic_name" type="string" value="/iris/usb_cam/image_raw"/>
    </node>

</launch>
